.list-box{
  
}

.list-title{

}

.list-holder{

}

.list-element{

}

.list-element-content-strikethrough{
  background:none; 
  border:none;
  text-decoration: overline;
}

.list-element-content-non_strikethrough{
  background:none; 
  border:none;
}